apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: qa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: IMAGE_URI
        env:
        - name: ENV
          value: "QA"
        ports:
        - containerPort: 8080
