name: runners

on:
  push:
    branches:
      - main
      - feature/*

  workflow_dispatch:

jobs:
  sanity-check:
    runs-on: ubuntu-latest

    steps:
      - name: Show branch
        run: |
          echo "Branch: $GITHUB_REF"
          echo "Repo: $GITHUB_REPOSITORY"

      - name: Hello
        run: echo "GitHub Actions workflow is working"
