name: runners-test

on:
  push:
    branches:
      - main
      - feature/*

  workflow_dispatch:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "GitHub Actions workflow is registered"
