name: runners-verify

on:
  push:
    branches:
      - feature/*   # Trigger on feature branches
  workflow_dispatch: # Optional manual trigger

jobs:
  build:
    runs-on: codebuild-kube-docker-gha-runner-${{ github.run_id }}-${{ github.run_attempt }};image=aws/codebuild/standard:6.0;instance-size=small;buildspec-override=true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build project
        run: npm run build

      - name: Finish
        run: echo "Feature branch build completed successfully on CodeBuild runner!"
